@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');

body {
  	margin: 0; line-height: normal;
}

html, body, #app {
	height: 100vh; /* full viewport height */
	margin: 0;
	padding: 0;
	overflow: hidden; /* disable page vertical scrolling */
	-webkit-overflow-scrolling: auto;
}

